<Ui xmlns="http://www.blizzard.com/wow/ui/">
    <!-- A section's information text in the settings list, aligned with the section header's title. -->
    <Frame name="WhosWhoSettingsTextTemplate" virtual="true">
        <Layers>
            <Layer level="OVERLAY">
                <FontString parentKey="Text" inherits="GameFontHighlight" justifyH="LEFT" justifyV="TOP">
                    <Anchors>
                        <Anchor point="TOPLEFT" x="7" y="0"/>
                        <Anchor point="BOTTOMRIGHT" x="-7" y="0"/>
                    </Anchors>
                </FontString>
            </Layer>
        </Layers>
    </Frame>
</Ui>
